*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #eee;
    display: flex;
    font-family: sans-serif;
}

.container{
    margin: auto;
    width: 900px;
    max-width: 90%;
}

.form{
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.form h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 4px;
    margin: 5px 0 10px;
}

.box h3{
    font-size: 25px;
    font-weight: 700;
}

.btn{
    background: rgb(0, 161, 81);
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

