*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #eee;
    display: flex;
    font-family: sans-serif;
}

.container{
    margin: auto;
    width: 900px;
    max-width: 90%;
}

.form{
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.form h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 4px;
    margin: 5px 0 10px;
}

.box h3{
    font-size: 25px;
    font-weight: 700;
}

.btn{
    background: rgb(0, 161, 81);
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.containerTwo{
    width: 1000px;
    max-width: 90%;
    display: flex;
    margin: auto;
}

#transaction{
    display: none;
}

.threeGrid{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#gridOne{
    background: blueviolet;
}
#gridTwo{
    background: brown;
}
#gridThree{
    background: orange;
}

.balancebox{
    width: 280px;
    height: 150px;
    color: white;
    border-radius: 10px;
    padding: 30px 30px;
}

.balancebox h1{
    font-size: 50px;
    padding: 10px;
    margin-left: -11px;
}
.balancebox p{
    font-weight: 700;
}


.transaction-section{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    
}

.deposit-withdraw{
    width: 450px;
    height: 225px;
    border: 1px solid rebeccapurple;
    background:white;
    border-radius: 10px;
    padding: 30px;
    font-weight: 700;
    border: none;
    box-shadow: 5px 5px 10px grey;
}

